trunk/Sistemas Orientados a Objetos/Projeto Final/Projetos NetBeans/ELearningServices/src/conf/xml-resources/web-service-references/PessoaService/wsdl/localhost_9960/ELearningServices/PessoaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ELearning/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ELearning/" name="PessoaService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ELearning/" schemaLocation="http://localhost:9960/ELearningServices/PessoaService?xsd=1" />
</xsd:schema>
</types>
<message name="cadastrarPessoa">
<part name="parameters" element="tns:cadastrarPessoa" />
</message>
<message name="cadastrarPessoaResponse">
<part name="parameters" element="tns:cadastrarPessoaResponse" />
</message>
<message name="editarPessoa">
<part name="parameters" element="tns:editarPessoa" />
</message>
<message name="editarPessoaResponse">
<part name="parameters" element="tns:editarPessoaResponse" />
</message>
<message name="deletarPessoa">
<part name="parameters" element="tns:deletarPessoa" />
</message>
<message name="deletarPessoaResponse">
<part name="parameters" element="tns:deletarPessoaResponse" />
</message>
<message name="procurarPessoa">
<part name="parameters" element="tns:procurarPessoa" />
</message>
<message name="procurarPessoaResponse">
<part name="parameters" element="tns:procurarPessoaResponse" />
</message>
<portType name="PessoaService">
<operation name="cadastrarPessoa">
<input wsam:Action="http://services.ELearning/PessoaService/cadastrarPessoaRequest" message="tns:cadastrarPessoa" />
<output wsam:Action="http://services.ELearning/PessoaService/cadastrarPessoaResponse" message="tns:cadastrarPessoaResponse" />
</operation>
<operation name="editarPessoa">
<input wsam:Action="http://services.ELearning/PessoaService/editarPessoaRequest" message="tns:editarPessoa" />
<output wsam:Action="http://services.ELearning/PessoaService/editarPessoaResponse" message="tns:editarPessoaResponse" />
</operation>
<operation name="deletarPessoa">
<input wsam:Action="http://services.ELearning/PessoaService/deletarPessoaRequest" message="tns:deletarPessoa" />
<output wsam:Action="http://services.ELearning/PessoaService/deletarPessoaResponse" message="tns:deletarPessoaResponse" />
</operation>
<operation name="procurarPessoa">
<input wsam:Action="http://services.ELearning/PessoaService/procurarPessoaRequest" message="tns:procurarPessoa" />
<output wsam:Action="http://services.ELearning/PessoaService/procurarPessoaResponse" message="tns:procurarPessoaResponse" />
</operation>
</portType>
<binding name="PessoaServicePortBinding" type="tns:PessoaService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="cadastrarPessoa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editarPessoa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletarPessoa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="procurarPessoa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PessoaService">
<port name="PessoaServicePort" binding="tns:PessoaServicePortBinding">
<soap:address location="http://localhost:9960/ELearningServices/PessoaService" />
</port>
</service>
</definitions>