trunk/Sistemas Orientados a Objetos/Projeto Final/Projetos NetBeans/ELearningServices/src/conf/xml-resources/web-service-references/ProfessorService/wsdl/localhost_9960/ELearningServices/ProfessorService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://services.ELearning/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.ELearning/">

<xs:element name="cadastrarProfessor" type="tns:cadastrarProfessor" />

<xs:element name="cadastrarProfessorResponse" type="tns:cadastrarProfessorResponse" />

<xs:element name="deletarProfessor" type="tns:deletarProfessor" />

<xs:element name="deletarProfessorResponse" type="tns:deletarProfessorResponse" />

<xs:element name="editarProfessor" type="tns:editarProfessor" />

<xs:element name="editarProfessorResponse" type="tns:editarProfessorResponse" />

<xs:element name="procurarProfessor" type="tns:procurarProfessor" />

<xs:element name="procurarProfessorResponse" type="tns:procurarProfessorResponse" />

<xs:complexType name="cadastrarProfessor">
<xs:sequence>
<xs:element name="newProfessor" type="tns:professor" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="professor">
<xs:complexContent>
<xs:extension base="tns:pessoa">
<xs:sequence>
<xs:element name="disciplinas" type="tns:disciplina" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="pessoa">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence>
<xs:element name="endereco" type="xs:string" minOccurs="0" />
<xs:element name="telefone" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="idUsuario" type="xs:long" minOccurs="0" />
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="senha" type="xs:string" minOccurs="0" />
<xs:element name="tipoUsuario" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="disciplina">
<xs:sequence>
<xs:element name="criteria" type="tns:criterioAvaliacao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="dataFim" type="xs:dateTime" minOccurs="0" />
<xs:element name="dataInicio" type="xs:dateTime" minOccurs="0" />
<xs:element name="idDisciplina" type="xs:long" minOccurs="0" />
<xs:element name="idProfessor" type="xs:long" minOccurs="0" />
<xs:element name="matriculas" type="tns:matricula" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="nomeDisciplina" type="xs:string" minOccurs="0" />
<xs:element name="numNotas" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="criterioAvaliacao">
<xs:sequence>
<xs:element name="idCriterioAvaliacao" type="xs:long" minOccurs="0" />
<xs:element name="idDisciplina" type="xs:long" minOccurs="0" />
<xs:element name="nome" type="xs:string" minOccurs="0" />
<xs:element name="peso" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="matricula">
<xs:sequence>
<xs:element name="idAluno" type="xs:long" minOccurs="0" />
<xs:element name="idDisciplina" type="xs:long" minOccurs="0" />
<xs:element name="idMatricula" type="xs:long" minOccurs="0" />
<xs:element name="notaFinal" type="xs:float" minOccurs="0" />
<xs:element name="notas" type="tns:nota" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="nota">
<xs:sequence>
<xs:element name="idCriterion" type="xs:long" minOccurs="0" />
<xs:element name="idMatricula" type="xs:long" minOccurs="0" />
<xs:element name="idNota" type="xs:long" minOccurs="0" />
<xs:element name="notaCriterio" type="xs:float" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cadastrarProfessorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="procurarProfessor">
<xs:sequence>
<xs:element name="professor" type="tns:professor" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="procurarProfessorResponse">
<xs:sequence>
<xs:element name="return" type="tns:professor" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletarProfessor">
<xs:sequence>
<xs:element name="professor" type="tns:professor" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletarProfessorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarProfessor">
<xs:sequence>
<xs:element name="oldProfessor" type="tns:professor" minOccurs="0" />
<xs:element name="newProfessor" type="tns:professor" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarProfessorResponse">
<xs:sequence>
<xs:element name="return" type="tns:professor" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>