Sistemas Orientados a Objetos/Projeto Final/Projetos NetBeans/ELearningServices/src/conf/xml-resources/web-service-references/MatriculaService/wsdl/localhost_9960/ELearningServices/MatriculaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ELearning/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ELearning/" name="MatriculaService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ELearning/" schemaLocation="http://localhost:9960/ELearningServices/MatriculaService?xsd=1" />
</xsd:schema>
</types>
<message name="cadastrarMatricula">
<part name="parameters" element="tns:cadastrarMatricula" />
</message>
<message name="cadastrarMatriculaResponse">
<part name="parameters" element="tns:cadastrarMatriculaResponse" />
</message>
<message name="procurarMatricula">
<part name="parameters" element="tns:procurarMatricula" />
</message>
<message name="procurarMatriculaResponse">
<part name="parameters" element="tns:procurarMatriculaResponse" />
</message>
<message name="editarMatricula">
<part name="parameters" element="tns:editarMatricula" />
</message>
<message name="editarMatriculaResponse">
<part name="parameters" element="tns:editarMatriculaResponse" />
</message>
<message name="deletarMatricula">
<part name="parameters" element="tns:deletarMatricula" />
</message>
<message name="deletarMatriculaResponse">
<part name="parameters" element="tns:deletarMatriculaResponse" />
</message>
<portType name="MatriculaService">
<operation name="cadastrarMatricula">
<input wsam:Action="http://services.ELearning/MatriculaService/cadastrarMatriculaRequest" message="tns:cadastrarMatricula" />
<output wsam:Action="http://services.ELearning/MatriculaService/cadastrarMatriculaResponse" message="tns:cadastrarMatriculaResponse" />
</operation>
<operation name="procurarMatricula">
<input wsam:Action="http://services.ELearning/MatriculaService/procurarMatriculaRequest" message="tns:procurarMatricula" />
<output wsam:Action="http://services.ELearning/MatriculaService/procurarMatriculaResponse" message="tns:procurarMatriculaResponse" />
</operation>
<operation name="editarMatricula">
<input wsam:Action="http://services.ELearning/MatriculaService/editarMatriculaRequest" message="tns:editarMatricula" />
<output wsam:Action="http://services.ELearning/MatriculaService/editarMatriculaResponse" message="tns:editarMatriculaResponse" />
</operation>
<operation name="deletarMatricula">
<input wsam:Action="http://services.ELearning/MatriculaService/deletarMatriculaRequest" message="tns:deletarMatricula" />
<output wsam:Action="http://services.ELearning/MatriculaService/deletarMatriculaResponse" message="tns:deletarMatriculaResponse" />
</operation>
</portType>
<binding name="MatriculaServicePortBinding" type="tns:MatriculaService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="cadastrarMatricula">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="procurarMatricula">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editarMatricula">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletarMatricula">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MatriculaService">
<port name="MatriculaServicePort" binding="tns:MatriculaServicePortBinding">
<soap:address location="http://localhost:9960/ELearningServices/MatriculaService" />
</port>
</service>
</definitions>