Sistemas Orientados a Objetos/Projeto Final/Projetos NetBeans/ELearningServices/web/WEB-INF/wsdl/localhost_9960/ELearningServices/ProfessorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ELearning/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ELearning/" name="ProfessorService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ELearning/" schemaLocation="http://localhost:9960/ELearningServices/ProfessorService?xsd=1" />
</xsd:schema>
</types>
<message name="cadastrarProfessor">
<part name="parameters" element="tns:cadastrarProfessor" />
</message>
<message name="cadastrarProfessorResponse">
<part name="parameters" element="tns:cadastrarProfessorResponse" />
</message>
<message name="procurarProfessor">
<part name="parameters" element="tns:procurarProfessor" />
</message>
<message name="procurarProfessorResponse">
<part name="parameters" element="tns:procurarProfessorResponse" />
</message>
<message name="editarProfessor">
<part name="parameters" element="tns:editarProfessor" />
</message>
<message name="editarProfessorResponse">
<part name="parameters" element="tns:editarProfessorResponse" />
</message>
<message name="deletarProfessor">
<part name="parameters" element="tns:deletarProfessor" />
</message>
<message name="deletarProfessorResponse">
<part name="parameters" element="tns:deletarProfessorResponse" />
</message>
<portType name="ProfessorService">
<operation name="cadastrarProfessor">
<input wsam:Action="http://services.ELearning/ProfessorService/cadastrarProfessorRequest" message="tns:cadastrarProfessor" />
<output wsam:Action="http://services.ELearning/ProfessorService/cadastrarProfessorResponse" message="tns:cadastrarProfessorResponse" />
</operation>
<operation name="procurarProfessor">
<input wsam:Action="http://services.ELearning/ProfessorService/procurarProfessorRequest" message="tns:procurarProfessor" />
<output wsam:Action="http://services.ELearning/ProfessorService/procurarProfessorResponse" message="tns:procurarProfessorResponse" />
</operation>
<operation name="editarProfessor">
<input wsam:Action="http://services.ELearning/ProfessorService/editarProfessorRequest" message="tns:editarProfessor" />
<output wsam:Action="http://services.ELearning/ProfessorService/editarProfessorResponse" message="tns:editarProfessorResponse" />
</operation>
<operation name="deletarProfessor">
<input wsam:Action="http://services.ELearning/ProfessorService/deletarProfessorRequest" message="tns:deletarProfessor" />
<output wsam:Action="http://services.ELearning/ProfessorService/deletarProfessorResponse" message="tns:deletarProfessorResponse" />
</operation>
</portType>
<binding name="ProfessorServicePortBinding" type="tns:ProfessorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="cadastrarProfessor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="procurarProfessor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editarProfessor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletarProfessor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ProfessorService">
<port name="ProfessorServicePort" binding="tns:ProfessorServicePortBinding">
<soap:address location="http://localhost:9960/ELearningServices/ProfessorService" />
</port>
</service>
</definitions>