Sistemas Orientados a Objetos/Projeto Final/Projetos NetBeans/ELearningServices/web/WEB-INF/wsdl/localhost_9960/ELearningServices/ReportService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ELearning/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ELearning/" name="ReportService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ELearning/" schemaLocation="http://localhost:9960/ELearningServices/ReportService?xsd=1" />
</xsd:schema>
</types>
<message name="getAllProfessors">
<part name="parameters" element="tns:getAllProfessors" />
</message>
<message name="getAllProfessorsResponse">
<part name="parameters" element="tns:getAllProfessorsResponse" />
</message>
<message name="getAllStudents">
<part name="parameters" element="tns:getAllStudents" />
</message>
<message name="getAllStudentsResponse">
<part name="parameters" element="tns:getAllStudentsResponse" />
</message>
<message name="getDisciplineGrade">
<part name="parameters" element="tns:getDisciplineGrade" />
</message>
<message name="getDisciplineGradeResponse">
<part name="parameters" element="tns:getDisciplineGradeResponse" />
</message>
<message name="getStudentDisciplineGrade">
<part name="parameters" element="tns:getStudentDisciplineGrade" />
</message>
<message name="getStudentDisciplineGradeResponse">
<part name="parameters" element="tns:getStudentDisciplineGradeResponse" />
</message>
<message name="getStudentList">
<part name="parameters" element="tns:getStudentList" />
</message>
<message name="getStudentListResponse">
<part name="parameters" element="tns:getStudentListResponse" />
</message>
<message name="getEnrollmentCount">
<part name="parameters" element="tns:getEnrollmentCount" />
</message>
<message name="getEnrollmentCountResponse">
<part name="parameters" element="tns:getEnrollmentCountResponse" />
</message>
<message name="getEnrollmentCriteria">
<part name="parameters" element="tns:getEnrollmentCriteria" />
</message>
<message name="getEnrollmentCriteriaResponse">
<part name="parameters" element="tns:getEnrollmentCriteriaResponse" />
</message>
<message name="getAllDisciplines">
<part name="parameters" element="tns:getAllDisciplines" />
</message>
<message name="getAllDisciplinesResponse">
<part name="parameters" element="tns:getAllDisciplinesResponse" />
</message>
<portType name="ReportService">
<operation name="getAllProfessors">
<input wsam:Action="http://services.ELearning/ReportService/getAllProfessorsRequest" message="tns:getAllProfessors" />
<output wsam:Action="http://services.ELearning/ReportService/getAllProfessorsResponse" message="tns:getAllProfessorsResponse" />
</operation>
<operation name="getAllStudents">
<input wsam:Action="http://services.ELearning/ReportService/getAllStudentsRequest" message="tns:getAllStudents" />
<output wsam:Action="http://services.ELearning/ReportService/getAllStudentsResponse" message="tns:getAllStudentsResponse" />
</operation>
<operation name="getDisciplineGrade">
<input wsam:Action="http://services.ELearning/ReportService/getDisciplineGradeRequest" message="tns:getDisciplineGrade" />
<output wsam:Action="http://services.ELearning/ReportService/getDisciplineGradeResponse" message="tns:getDisciplineGradeResponse" />
</operation>
<operation name="getStudentDisciplineGrade">
<input wsam:Action="http://services.ELearning/ReportService/getStudentDisciplineGradeRequest" message="tns:getStudentDisciplineGrade" />
<output wsam:Action="http://services.ELearning/ReportService/getStudentDisciplineGradeResponse" message="tns:getStudentDisciplineGradeResponse" />
</operation>
<operation name="getStudentList">
<input wsam:Action="http://services.ELearning/ReportService/getStudentListRequest" message="tns:getStudentList" />
<output wsam:Action="http://services.ELearning/ReportService/getStudentListResponse" message="tns:getStudentListResponse" />
</operation>
<operation name="getEnrollmentCount">
<input wsam:Action="http://services.ELearning/ReportService/getEnrollmentCountRequest" message="tns:getEnrollmentCount" />
<output wsam:Action="http://services.ELearning/ReportService/getEnrollmentCountResponse" message="tns:getEnrollmentCountResponse" />
</operation>
<operation name="getEnrollmentCriteria">
<input wsam:Action="http://services.ELearning/ReportService/getEnrollmentCriteriaRequest" message="tns:getEnrollmentCriteria" />
<output wsam:Action="http://services.ELearning/ReportService/getEnrollmentCriteriaResponse" message="tns:getEnrollmentCriteriaResponse" />
</operation>
<operation name="getAllDisciplines">
<input wsam:Action="http://services.ELearning/ReportService/getAllDisciplinesRequest" message="tns:getAllDisciplines" />
<output wsam:Action="http://services.ELearning/ReportService/getAllDisciplinesResponse" message="tns:getAllDisciplinesResponse" />
</operation>
</portType>
<binding name="ReportServicePortBinding" type="tns:ReportService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAllProfessors">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllStudents">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDisciplineGrade">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudentDisciplineGrade">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudentList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEnrollmentCount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEnrollmentCriteria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllDisciplines">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ReportService">
<port name="ReportServicePort" binding="tns:ReportServicePortBinding">
<soap:address location="http://localhost:9960/ELearningServices/ReportService" />
</port>
</service>
</definitions>