Sistemas Orientados a Objetos/Projeto Final/Projetos NetBeans/ELearningServices/src/java/META-INF/CriterioAvaliacaoService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ELearning/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ELearning/" name="CriterioAvaliacaoService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ELearning/" schemaLocation="http://localhost:9960/ELearningServices/CriterioAvaliacaoService?xsd=1" />
</xsd:schema>
</types>
<message name="cadastrarCriterio">
<part name="parameters" element="tns:cadastrarCriterio" />
</message>
<message name="cadastrarCriterioResponse">
<part name="parameters" element="tns:cadastrarCriterioResponse" />
</message>
<message name="procurarCriterio">
<part name="parameters" element="tns:procurarCriterio" />
</message>
<message name="procurarCriterioResponse">
<part name="parameters" element="tns:procurarCriterioResponse" />
</message>
<message name="editarCriterio">
<part name="parameters" element="tns:editarCriterio" />
</message>
<message name="editarCriterioResponse">
<part name="parameters" element="tns:editarCriterioResponse" />
</message>
<message name="deletarCriterio">
<part name="parameters" element="tns:deletarCriterio" />
</message>
<message name="deletarCriterioResponse">
<part name="parameters" element="tns:deletarCriterioResponse" />
</message>
<portType name="CriterioAvaliacaoService">
<operation name="cadastrarCriterio">
<input wsam:Action="http://services.ELearning/CriterioAvaliacaoService/cadastrarCriterioRequest" message="tns:cadastrarCriterio" />
<output wsam:Action="http://services.ELearning/CriterioAvaliacaoService/cadastrarCriterioResponse" message="tns:cadastrarCriterioResponse" />
</operation>
<operation name="procurarCriterio">
<input wsam:Action="http://services.ELearning/CriterioAvaliacaoService/procurarCriterioRequest" message="tns:procurarCriterio" />
<output wsam:Action="http://services.ELearning/CriterioAvaliacaoService/procurarCriterioResponse" message="tns:procurarCriterioResponse" />
</operation>
<operation name="editarCriterio">
<input wsam:Action="http://services.ELearning/CriterioAvaliacaoService/editarCriterioRequest" message="tns:editarCriterio" />
<output wsam:Action="http://services.ELearning/CriterioAvaliacaoService/editarCriterioResponse" message="tns:editarCriterioResponse" />
</operation>
<operation name="deletarCriterio">
<input wsam:Action="http://services.ELearning/CriterioAvaliacaoService/deletarCriterioRequest" message="tns:deletarCriterio" />
<output wsam:Action="http://services.ELearning/CriterioAvaliacaoService/deletarCriterioResponse" message="tns:deletarCriterioResponse" />
</operation>
</portType>
<binding name="CriterioAvaliacaoServicePortBinding" type="tns:CriterioAvaliacaoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="cadastrarCriterio">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="procurarCriterio">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editarCriterio">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletarCriterio">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CriterioAvaliacaoService">
<port name="CriterioAvaliacaoServicePort" binding="tns:CriterioAvaliacaoServicePortBinding">
<soap:address location="http://localhost:9960/ELearningServices/CriterioAvaliacaoService" />
</port>
</service>
</definitions>