trunk/Sistemas Orientados a Objetos/Projeto Final/Projetos NetBeans/ELearningServices/src/java/META-INF/AlunoService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ELearning/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ELearning/" name="AlunoService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ELearning/" schemaLocation="http://localhost:9960/ELearningServices/AlunoService?xsd=1" />
</xsd:schema>
</types>
<message name="cadastrarAluno">
<part name="parameters" element="tns:cadastrarAluno" />
</message>
<message name="cadastrarAlunoResponse">
<part name="parameters" element="tns:cadastrarAlunoResponse" />
</message>
<message name="procurarAluno">
<part name="parameters" element="tns:procurarAluno" />
</message>
<message name="procurarAlunoResponse">
<part name="parameters" element="tns:procurarAlunoResponse" />
</message>
<message name="editarAluno">
<part name="parameters" element="tns:editarAluno" />
</message>
<message name="editarAlunoResponse">
<part name="parameters" element="tns:editarAlunoResponse" />
</message>
<message name="deletarAluno">
<part name="parameters" element="tns:deletarAluno" />
</message>
<message name="deletarAlunoResponse">
<part name="parameters" element="tns:deletarAlunoResponse" />
</message>
<message name="procurarMatriculasNaoFeitas">
<part name="parameters" element="tns:procurarMatriculasNaoFeitas" />
</message>
<message name="procurarMatriculasNaoFeitasResponse">
<part name="parameters" element="tns:procurarMatriculasNaoFeitasResponse" />
</message>
<portType name="AlunoService">
<operation name="cadastrarAluno">
<input wsam:Action="http://services.ELearning/AlunoService/cadastrarAlunoRequest" message="tns:cadastrarAluno" />
<output wsam:Action="http://services.ELearning/AlunoService/cadastrarAlunoResponse" message="tns:cadastrarAlunoResponse" />
</operation>
<operation name="procurarAluno">
<input wsam:Action="http://services.ELearning/AlunoService/procurarAlunoRequest" message="tns:procurarAluno" />
<output wsam:Action="http://services.ELearning/AlunoService/procurarAlunoResponse" message="tns:procurarAlunoResponse" />
</operation>
<operation name="editarAluno">
<input wsam:Action="http://services.ELearning/AlunoService/editarAlunoRequest" message="tns:editarAluno" />
<output wsam:Action="http://services.ELearning/AlunoService/editarAlunoResponse" message="tns:editarAlunoResponse" />
</operation>
<operation name="deletarAluno">
<input wsam:Action="http://services.ELearning/AlunoService/deletarAlunoRequest" message="tns:deletarAluno" />
<output wsam:Action="http://services.ELearning/AlunoService/deletarAlunoResponse" message="tns:deletarAlunoResponse" />
</operation>
<operation name="procurarMatriculasNaoFeitas">
<input wsam:Action="http://services.ELearning/AlunoService/procurarMatriculasNaoFeitasRequest" message="tns:procurarMatriculasNaoFeitas" />
<output wsam:Action="http://services.ELearning/AlunoService/procurarMatriculasNaoFeitasResponse" message="tns:procurarMatriculasNaoFeitasResponse" />
</operation>
</portType>
<binding name="AlunoServicePortBinding" type="tns:AlunoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="cadastrarAluno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="procurarAluno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editarAluno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletarAluno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="procurarMatriculasNaoFeitas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AlunoService">
<port name="AlunoServicePort" binding="tns:AlunoServicePortBinding">
<soap:address location="http://localhost:9960/ELearningServices/AlunoService" />
</port>
</service>
</definitions>