trunk/Sistemas Orientados a Objetos/Projeto Final/Projetos NetBeans/ELearningServices/web/WEB-INF/wsdl/localhost_9960/ELearningServices/DisciplinaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ELearning/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ELearning/" name="DisciplinaService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ELearning/" schemaLocation="http://localhost:9960/ELearningServices/DisciplinaService?xsd=1" />
</xsd:schema>
</types>
<message name="cadastrarDisciplina">
<part name="parameters" element="tns:cadastrarDisciplina" />
</message>
<message name="cadastrarDisciplinaResponse">
<part name="parameters" element="tns:cadastrarDisciplinaResponse" />
</message>
<message name="procurarDisciplina">
<part name="parameters" element="tns:procurarDisciplina" />
</message>
<message name="procurarDisciplinaResponse">
<part name="parameters" element="tns:procurarDisciplinaResponse" />
</message>
<message name="editarDisciplina">
<part name="parameters" element="tns:editarDisciplina" />
</message>
<message name="editarDisciplinaResponse">
<part name="parameters" element="tns:editarDisciplinaResponse" />
</message>
<message name="deletarDisciplina">
<part name="parameters" element="tns:deletarDisciplina" />
</message>
<message name="deletarDisciplinaResponse">
<part name="parameters" element="tns:deletarDisciplinaResponse" />
</message>
<portType name="DisciplinaService">
<operation name="cadastrarDisciplina">
<input wsam:Action="http://services.ELearning/DisciplinaService/cadastrarDisciplinaRequest" message="tns:cadastrarDisciplina" />
<output wsam:Action="http://services.ELearning/DisciplinaService/cadastrarDisciplinaResponse" message="tns:cadastrarDisciplinaResponse" />
</operation>
<operation name="procurarDisciplina">
<input wsam:Action="http://services.ELearning/DisciplinaService/procurarDisciplinaRequest" message="tns:procurarDisciplina" />
<output wsam:Action="http://services.ELearning/DisciplinaService/procurarDisciplinaResponse" message="tns:procurarDisciplinaResponse" />
</operation>
<operation name="editarDisciplina">
<input wsam:Action="http://services.ELearning/DisciplinaService/editarDisciplinaRequest" message="tns:editarDisciplina" />
<output wsam:Action="http://services.ELearning/DisciplinaService/editarDisciplinaResponse" message="tns:editarDisciplinaResponse" />
</operation>
<operation name="deletarDisciplina">
<input wsam:Action="http://services.ELearning/DisciplinaService/deletarDisciplinaRequest" message="tns:deletarDisciplina" />
<output wsam:Action="http://services.ELearning/DisciplinaService/deletarDisciplinaResponse" message="tns:deletarDisciplinaResponse" />
</operation>
</portType>
<binding name="DisciplinaServicePortBinding" type="tns:DisciplinaService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="cadastrarDisciplina">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="procurarDisciplina">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editarDisciplina">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletarDisciplina">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DisciplinaService">
<port name="DisciplinaServicePort" binding="tns:DisciplinaServicePortBinding">
<soap:address location="http://localhost:9960/ELearningServices/DisciplinaService" />
</port>
</service>
</definitions>