trunk/Sistemas Orientados a Objetos/Projeto Final/Projetos NetBeans/ELearningServices/web/WEB-INF/wsdl/localhost_9960/ELearningServices/NotaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ELearning/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ELearning/" name="NotaService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ELearning/" schemaLocation="http://localhost:9960/ELearningServices/NotaService?xsd=1" />
</xsd:schema>
</types>
<message name="cadastrarNota">
<part name="parameters" element="tns:cadastrarNota" />
</message>
<message name="cadastrarNotaResponse">
<part name="parameters" element="tns:cadastrarNotaResponse" />
</message>
<message name="procurarNota">
<part name="parameters" element="tns:procurarNota" />
</message>
<message name="procurarNotaResponse">
<part name="parameters" element="tns:procurarNotaResponse" />
</message>
<message name="editarNota">
<part name="parameters" element="tns:editarNota" />
</message>
<message name="editarNotaResponse">
<part name="parameters" element="tns:editarNotaResponse" />
</message>
<message name="deletarNota">
<part name="parameters" element="tns:deletarNota" />
</message>
<message name="deletarNotaResponse">
<part name="parameters" element="tns:deletarNotaResponse" />
</message>
<portType name="NotaService">
<operation name="cadastrarNota">
<input wsam:Action="http://services.ELearning/NotaService/cadastrarNotaRequest" message="tns:cadastrarNota" />
<output wsam:Action="http://services.ELearning/NotaService/cadastrarNotaResponse" message="tns:cadastrarNotaResponse" />
</operation>
<operation name="procurarNota">
<input wsam:Action="http://services.ELearning/NotaService/procurarNotaRequest" message="tns:procurarNota" />
<output wsam:Action="http://services.ELearning/NotaService/procurarNotaResponse" message="tns:procurarNotaResponse" />
</operation>
<operation name="editarNota">
<input wsam:Action="http://services.ELearning/NotaService/editarNotaRequest" message="tns:editarNota" />
<output wsam:Action="http://services.ELearning/NotaService/editarNotaResponse" message="tns:editarNotaResponse" />
</operation>
<operation name="deletarNota">
<input wsam:Action="http://services.ELearning/NotaService/deletarNotaRequest" message="tns:deletarNota" />
<output wsam:Action="http://services.ELearning/NotaService/deletarNotaResponse" message="tns:deletarNotaResponse" />
</operation>
</portType>
<binding name="NotaServicePortBinding" type="tns:NotaService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="cadastrarNota">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="procurarNota">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editarNota">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletarNota">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="NotaService">
<port name="NotaServicePort" binding="tns:NotaServicePortBinding">
<soap:address location="http://localhost:9960/ELearningServices/NotaService" />
</port>
</service>
</definitions>